@model MiPrimerMVC.Models.ContactModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tabbed Forms And Tab Controls Live Preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/TmpLogin/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/TmpLogin/styles/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/TmpLogin/css/preview.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href="~/TmpLogin/styles/font-awesome.min.css" rel="stylesheet" />


    <!--[if IE 7]>
        <link href="styles/font-awesome-ie7.min.css" rel="stylesheet" />
    <![endif]-->
    <!--[if IE 8]>
        <style type="text/css">
        .navbar-inner{
            filter:none;
        }
         </style>
        <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="divider large visible-desktop"></div>
    <div class="row-fluid" id="demo-1">
        <div class="span10 offset1">
            <div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll">
                <ul class="nav nav-tabs">
                    <li><a href="~/AccountLogin/Login"><i class="icon-lock"></i>&nbsp;<span>Login Panel</span></a></li>
                    <li><a href="~/Register/Register"><i class="icon-user"></i>&nbsp;<span>Register Panel</span></a></li>
                    <li><a href="~/ForgotPassword/ForgotPassword"><i class="icon-key"></i>&nbsp;<span>Forgot Password</span></a></li>
                    <li class="active"><a href="#panel4"><i class="icon-envelope-alt"></i>&nbsp;<span>Contact Us</span></a></li></ul>
                <div class="tab-content ">
                    <div class="tab-pane" id="panel1">
                 
                    </div>
                    <div class="tab-pane" id="panel2">
                 
                    </div>

                    <div class="tab-pane" id="panel3">
                    </div>
                    
                    <div id="panel4" class="tab-pane active">
                        <div class="row-fluid">
                            <div class="span5">
                                <h4><i class="icon-envelope-alt"></i>&nbsp;&nbsp;Contact Us</h4>
                                @using (Html.BeginForm("Contact", "Contact", null, FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    <label>Name</label>
                                @Html.TextBoxFor(x => x.Name, new { @class = "input-block-level", type = "text", @required = "required" })
                                <label>Email</label>
                                @Html.TextBoxFor(x => x.Email, new { @class = "input-block-level", type = "email",placeholder="First.Last@example.com", @required = "required" })
                                <label>Mobile No</label>
                                <input type="text" value="" id="Text2" class="input-block-level" />
                                <label>Message</label>
                                @Html.TextAreaFor(x => x.Message, new { @class = "input-block-level", @rows="5" , type = "text", @required = "required" })    
                                <button class=" btn  " type="submit">Send Message&nbsp;&nbsp;&nbsp;<i class=" icon-chevron-sign-right"></i></button>
                                }
                                <br class="visible-phone" />
                                <br class="visible-phone" />
                            </div>
                            <div class="span7">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <h4><i class="icon-location-arrow"></i>&nbsp;&nbsp;Locate Us</h4>

                                        <div class="map"></div>

                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span6">
                                        <h4><i class="icon-envelope-alt"></i>&nbsp;&nbsp;Contact Us</h4>
                                        <address>
                                            <strong>Full Name</strong><br />
                                            <a href="mailto:#">first.last@example.com</a>
                                        </address>
                                    </div>
                                    <div class="span6">
                                        <h4><i class="icon-location-arrow"></i>&nbsp;&nbsp;Our Address</h4>

                                        <address>
                                            <strong>Twitter, Inc.</strong><br />
                                            795 Folsom Ave, Suite 600<br />
                                            San Francisco, CA 94107<br />
                                            <abbr title="Phone">P:</abbr>
                                            (123) 456-7890
                                        </address>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="divider"></div>
    <script src="~/TmpLogin/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/TmpLogin/scripts/bootstrap.min.js"></script>
    <script src="~/TmpLogin/scripts/tabs-addon.js"></script>

</body>
</html>
