@model MiPrimerMVC.Models.ForgotPasswordModel

@{
    ViewBag.Title = "title";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sales|Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/TmpLogin/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/TmpLogin/styles/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/TmpLogin/css/preview.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href="~/TmpLogin/styles/font-awesome.min.css" rel="stylesheet" />

    <!--[if IE 7]>
        <link href="~/TmpLogin/styles/font-awesome-ie7.min.css" rel="stylesheet" />
    <![endif]-->
    <!--[if IE 8]>
        <style type="text/css">
        .navbar-inner{
            filter:none;
        }
         </style>
        <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="divider large visible-desktop"></div>
    <div class="row-fluid" id="demo-1">
        <div class="span10 offset1">
            <div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll">
                <ul class="nav nav-tabs">
                    <li><a href="~/Classifieds/MostVisited" style="background-color:black; border: whitesmoke"><i class=" icon-home" style="color:white"></i></a></li>
                    <li><a href="~/AccountLogin/Login"><i class="icon-lock"></i>&nbsp;<span>Login Panel</span></a></li>
                    <li><a href="~/Register/Register" ><i class="icon-user"></i>&nbsp;<span>Register Panel</span></a></li>
                    <li class ="active"><a href="#panel3" data-toggle="tab" class="active"><i class="icon-key"></i>&nbsp;<span>Forgot Password</span></a></li>
                    <li><a href="~/Contact/Contact" data-toggle="tab"><i class="icon-envelope-alt"></i>&nbsp;<span>Contact Us</span></a></li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane" id="panel1">
                    
                    </div>
                    <div class="tab-pane" id="panel2">
                     
                    </div>

                    <div class="tab-pane active" id="panel3">
                        <div class="row-fluid">
                            <div class="span5">
                                <h4><i class="icon-unlock"></i>&nbsp;&nbsp;Password Recovery</h4>

                                <label>Email</label>
                                <input type="text" class="input-block-level" />
                                <label>Security Question</label>
                                <select class="input-block-level">
                                    <option disabled="disabled" selected="selected" />---Select---
                                    <option />Which Is Your First Mobile
                                    <option />What Is Your Pet Name
                                    <option />What Is Your Mother Name
                                    <option />Which Is Your First Game
                                </select>
                                <label>Answer</label>
                                <input type="text" class="input-block-level" />
                                <br />
                                <br />
                                <a href="#" class=" btn  ">Recover Password&nbsp;&nbsp;&nbsp;<i class="icon-chevron-sign-right"></i></a>
                            </div>
                            <div class="span7">
                                <h4><i class="icon-question"></i>&nbsp;&nbsp;Help</h4>
                                <div class="box">
                                    <p>Getting Error With Password Recovery Click Here For <a href="#">Support</a></p>
                                    <ul>


                                        <li>Vestibulum pharetra lectus montes lacus!</li>
                                        <li>Iaculis lectus augue pulvinar taciti.</li>
                                    </ul>

                                </div>
                                <div class="box">
                                    <ul>
                                        <li>Potenti facilisis felis sociis blandit euismod.</li>
                                        <li>Odio mi hendrerit ad nostra.</li>
                                        <li>Rutrum mi commodo molestie taciti.</li>
                                        <li>Interdum ipsum ad risus conubia, porttitor.</li>
                                        <li>Placerat litora, proin hac hendrerit ac volutpat.</li>
                                        <li>Ornare, aliquam condimentum  habitasse.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>


                    </div>
                    <div id="panel4" class="tab-pane">
                 
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="divider"></div>
    <script src="~/TmpLogin/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/TmpLogin/scripts/bootstrap.min.js"></script>
    <script src="~/TmpLogin/scripts/tabs-addon.js"></script>
    <script type="text/javascript" src="~/Scripts/backsketch.js"></script>
    <script>
        $.backstretch("http://fc05.deviantart.net/fs71/f/2014/127/0/6/adminex_featuredescription_by_themebucket-d7hgq7q.jpg");
    </script>

</body>
</html>