@model MiPrimerMVC.Controllers.ClassifiedsController.ClassiModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <title>title</title>
        <link href="~/Content/ByCategory.css" rel="stylesheet">
        <link href="http://foundation.zurb.com" rel="stylesheet" /> 
        <link href="https://mixitup.kunkalabs.com" rel="stylesheet" />
        <script src="~/Scripts/ByCategory.js"></script>
    </head>
    <body>
      
        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Numero 1</th>
                    <th>Operador</th>
                    <th>Numero 2</th>
                    <th>Resultado</th>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                
       
            
        </tbody>
    </table>
    </body>

</html>

