<connectionStrings>
  <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Sales;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="remote" connectionString="Server=de3368da-80ea-4978-8c81-a3db0187caaf.sqlserver.sequelizer.com;Database=dbde3368da80ea49788c81a3db0187caaf;User ID=hjkthtnalmvzsiua;Password=CDoRRL85Z6jZeLo48kU868ZaGrYSaMxyyEXdH7RNwC4uKN6Wp47FFWeCMnizVo5m;"/>
</connectionStrings>